body {
	font-family: Roboto, sans-serif;
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #1F2937;
}

header {
	display: inline;
	top: 0;
	left: 0;
	right: 0;
}

#header-div {
	background-color: #1F2937;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	width: 80%;
	height: 10%;
	margin: 0 auto 0 auto;
	padding: 20px;
	box-sizing: border-box;
}
  
#header-links-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	color: #E5E7EB; /* Corrected to set text color */
	text-decoration: none;
}

#header-links-container a {
	margin-left: 20px;
	text-decoration: none;
	font-size: 18px;
	color: #E5E7EB;
}
  
#header-div h1 {
	font-size: 24px;
	color: #F9FAF8; /* Corrected to set text color */
}
  
#section1 {
	background-color: #1F2937;
	width: 80%;
	height: 20%;
	margin: auto;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

#hero-text {
	margin-right: 80px;
}

#hero-text h1{
	font-size: 48px;
	font-weight: bold;
}

#hero-text p{
	font-size: 18px;
	color: #E5E7EB;
}

#hero-text button{
	background-color: #3882F6;
	color: white;
	border-radius: 5px;
	border: none;
	padding: 5px 15px 5px 15px;
}

#hero-image {
	box-sizing: border-box;
	background-color: #E5E7EB;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin-left: 80px;
}


#section2 {
	background-color: white;
	text-align: center;
	padding: 10px 50px 50px 50px;
	height: 20%;
}

#info-boxes {
	display: flex;
    justify-content: center;
    gap: 52px;
}

#section2 h2 {
	color: #1F2937;
	font-size: 24px;
}

.box-info {
	max-width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.info-box {
	color: #1F2937;
	font-size: 18px;
}

.box {
	width: 150px;
    height: 150px;
	border: 2px solid #3882F6;
    border-radius: 10px;
	background-color: white;
}

#section3 {
	background-color: #E5E7EB;
	box-sizing: border-box;
	padding: 100px 500px 100px 500px;
	height: 20%;
}

.blockquote3 {
	color: #1F2937;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.blockquote3 blockquote {
	font-size: 36px;
	font-weight: light;
}

.blockquote3 cite {
	font-size: 18px;
	margin-left: 0;
}


#section4 {
	background-color: white;
	box-sizing: border-box;
	padding: 100px 500px 100px 500px;
	height: 20%;
}

#action {
	padding: 10px 50px 10px 50px;
	background-color: #3882F6;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.action-text {
	display: block;
}

.action-text h2 {
	margin-bottom:0 ;
	font-size: 18px;
}

.action-text p {
	margin-top: 5px ;
	font-size: 18px;
}

.action-button button{
	background-color: #3882F6;
	color: white;
	border-radius: 5px;
	border: 1px solid white;
	padding: 5px 15px 5px 15px;
}


footer {
	bottom: 0;
	left: 0;
	right: 0;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1F2937;
}